.logo {
float: left;
margin-left:20px;
width: 0;
height: 0;
color. rgba(255,255,255,0);
padding: 85px 300px 0 0;
background-image: url('images/logo.png');
background-size: 300px 85px;
background-position: center;
background-repeat: no-repeat;
border-radius: 3px;
transition: all 0.2s ease;
}

/* Navagation */

.main-nav {
max-width: 1200;
margin: 20px auto;
margin-right: 20px auto;
text-align: right;
position: fixed;
width: 100%;
}

.nav-link {
    text-decoration: none;
    padding: 50px 30px 30px 40px;
    display: inline-block;
    border-radius: px;
    margin: 5px;
}


.nav-gallery {
background-image: url('images/gallery.png');
background-size: 49;
background-repeat:no-repeat;


}
.nav-tips {
background-image: url('images/tips.png');  
background-size: 50;
background-repeat:no-repeat;

}
.nav-home {
background-image: url('images/home.png'); 
background-size: 50;
background-repeat:no-repeat;
 
}


.body-image {
margin: 130px auto;
text-align: left;
position: fixed;
width: 100%;
background-size: cover;
}


h1 {
	position: absolute; 
    top: 180px; 
	left: 830px;
	font-size:24px;

}
h2 { 
   position: absolute; 
   top: 220px; 
   left: 830px; 
   width: 25%;
   font-size:15px; 
}

h3 { 
   position: absolute; 
   top: 280px; 
   left: 830px; 
   width: 25%;
   font-size:15px; 
}
body { 
    font-family: arial, sans-serif;

}