body {
    background-color: white;
    font-family: arial, sans-serif;
    margin: 0;
}


.main-nav {
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 20px;
    text-align: center;
    position: fixed;
    width: 100%;
  
}
.nav-teal {
    color: #62B7BB;
}
.nav-blue {
    color: #288bcd;
}
.nav-red {
    color: #ee5573;
}
.nav-yellow {
    color: #ffa73a;
}
.nav-link {
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 3px;
    margin: 5px;
}

.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
/* hero style */
.hero {
   
    min-height: 400px;
    text-align: center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: #ffffff;
}
.hero-blue {
background-image: url('images/snow-blue.jpg');
}
.hero-yellow {
background-image: url('images/city-yellow.jpg');
}
.hero-red {
background-image: url('images/mountains-red.jpg');
}
.hero-h1 {
    margin: 0;
    padding-top: 100px;
}

.left-box {

width: 300px;
height: 300px;
display: inline-block;
vertical-align: top;
margin-right: 20px;
}
.left-box-yellow {
background-color: #ffa73a;    
}
.left-box-blue {
 background-color: #288bcd;   
}
.left-box-red {
background-color: #ee5573;    
}
.right-box {
   
    width:300px;
    height:300px;
    display: inline-block;
    vertical-align: top;
    
}
.right-box-yellow {
     border: 2px solid #ffa73a;
}
.right-box-blue {
     border: 2px solid #288bcd;
}
.right-box-red {
     border: 2px solid #ee5573;
}
.main-contrnt {
    text-align: center
}