body {
    background-color: white;
    font-family: arial, sans-serif;
    margin: 0;
}


.main-nav {
    background-color: #333333;
    font-size: 20px;
    text-align: center;
  
}
.nav-teal {
    color: #62B7BB;
}
.nav-blue {
    color: #288bcd;
}
.nav-red {
    color: #ee5573;
}
.nav-yellow {
    color: #ffa73a;
}
.nav-link {
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 3px;
    margin: 5px;
}

.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
/* hero style */
.hero {
    background-image: url('images/city-yellow.jpg');
    min-height: 400px;
    text-align: center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: #ffffff;
}
.hero-h1 {
    margin: 0;
    padding-top: 100px;
}

.left-box {
background-color: #ffa73a;
width: 300px;
height: 300px;
display: inline-block;
vertical-align: top;
margin-right: 20px;
}
.right-box {
    border: 2px solid #ffa73a;
    width:300px;
    height:300px;
    display: inline-block;
    vertical-align: top;
}
.main-contrnt {
    text-align: center
}